<!-- Basic Meta Page Needs -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#B0DEFF" />
<meta name="msapplication-TileColor" content="#B0DEFF">
<meta name="msapplication-navbutton-color" content="#FFFFFF">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#B0DEFF">
<meta content="text/html; charset=UTF-8" name="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
    SENKA | <%=page %>
</title>

<meta name="description" content="Senka <%=page %>">
<meta name="keywords" content="template">

<meta itemprop="name" content="Senka | <%=page %>">
<meta itemprop="description" content="Senka <%=page %>">
<!-- <meta itemprop="image" content="assets/favicon/favicon-ges.png"> -->

<meta property="og:url" content="#" />
<meta property="og:title" content="Senka | <%=page %>" />
<meta property="og:description" content="Senka <%=page %>" />
<!-- <meta property="og:image" content="assets/favicon/favicon-ges.png" /> -->

<meta name="twitter:card" content="Senka | <%=page %>" />
<meta name="twitter:site" content="#" />
<meta name="twitter:title" content="Senka | <%=page %>" />
<meta name="twitter:description" content="Senka <%=page %>" />
<!-- <meta name="twitter:image" content="assets/favicon/favicon-ges.png" /> -->
<link rel="icon" type="image/webp" href="./assets/images/favicon.webp">


<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="./css/style.css">